<div class="fname field-container">
    <div class="icon"></div>
    <input type="text" placeholder="First Name" required>
</div>

<div class="lname field-container">
    <div class="icon"></div>
    <input type="text" placeholder="Last Name" required>
</div>

<div class="email field-container">
    <div class="icon"></div>
    <input type="email" placeholder="Email" required>
</div>

<div class="pass field-container">
    <div class="icon"></div>
    <input type="password" placeholder="Password" required>
</div>
<br>
<button type="submit">Create Account</button>
