$color-light: #FFEB3B
$color-dark: #FF9800
$accent: #e6242b

@import logo
@import login

*
    margin: 0
    padding: 0
    font-family: Google Sans

body
    background: linear-gradient(170deg, $color-light 0%, $color-dark 100%)

.wrapper
    position: relative
    height: 100vh
    overflow: hidden
